@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Stick No Bills', sans-serif;
    box-sizing: border-box;
}
body.body-course{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/images/loginbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
main>form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    min-height: 450px;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
    margin-top: -250px;
    margin-left: -150px;
    overflow: hidden;
}

.header{
    text-align: center;
}

.header p{
    font-size: 3em;
}

.input{
    position: relative;
    margin: 20px auto;
}

.input label{
    display: inline-block;
    font-size: 1.5em;
}

.input input{
    display:block;
    width: 100%;
    height: 2em;
    font-size: 1.2em;
}

.input input:focus{
    outline: 0;
}


.input i{
    visibility: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
}

.input.success i.fa-check-circle{
    color: green;
    visibility: visible;
}

.input.error i.fa-exclamation-circle{
    color: red;
    visibility: visible;
}

.input span{
    color: red;
    position: absolute;
    visibility: hidden;
}

.input.error span{
    visibility: visible;
}

.input input:focus{
    border: 2px solid crimson;
   
}

.container .btn{
    display: block;
    position: relative;
    top: 10px;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border:none;
    outline:none;
    font-size: 1.2rem;
    cursor: pointer;
    height: 60px;
}
.container .btn:hover{
    transform: translateY(-5px);
    background-color: crimson;
    color: #fff;
    font-size: 1.3rem;
    transition: .3s;
}
