@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Stick No Bills', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../images/loginbackground.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
main{
    position: absolute;
    display: block;
    top: 45%;
    left: 50%;
    width: 300px;
    min-height: 450px;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 30px 30px;
    margin-top: -250px;
    margin-left: -150px;
    overflow: hidden;
}
main>div{
    text-align: center;
}
main>form{
    color: #fff; 
    font-weight: 16;
    font-size: 1.1rem;
    text-align: center;
    margin-top: auto;
    display: block;
    text-transform: capitalize;
}
#login-text{
    font-size: 4rem;
    margin:10px;
}
form>div{
    width:100%;
    height: 50px;
    margin-bottom: 45px;
    color:#fff;
    display: block;
    text-align: left;
}
form input{
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1.1rem;
    background: transparent;
    outline: none;
    transition: .3s;
    color: #fff;
}
form input:focus{
    border-color: crimson;
}
.fa-check-circle{
    color: green;
}
.fa-exclamation-circle{
    color: red;
}
form .btn{
    display: block;
    width: 100%;
    padding: 15px 20px;
    height: 60px;
    text-align: center;
    border:none;
    outline:none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 60px;
    border: 2px solid white;
    background-color: #fff;
    color: black;
}
form .btn:hover{
    transform: translateY(-5px);
    background-color: crimson;
    color: #fff;
    font-size: 1.3rem;
    transition: .3s;
}
#login-register-text{
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}
#login-register-text a{
    text-decoration: none;
}