@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
:root{
    --fontSizeP: 1.3em;
    --fontSizeLi: 1.2em;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    position: fixed;
    z-index: 99;
    width: 100%;
    background-color: #242526;
    font-family: 'Stick No Bills', sans-serif;
}
nav .nav-container{
    position: relative;
    max-width: 1300px;
    padding: 0px 30px;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container .logo a{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}
.nav-container .nav-links{
    display: inline-flex;
}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    padding: 9px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    background: crimson;
}
.nav-links .mobile-item{
    display: none;
}
.nav-links .drop-menu{
    position: absolute;
    background: #242526;
    width: 180px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu{
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}
.drop-menu li a{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
    font-size: 1.3em;
}
.nav-container .btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.nav-container .btn.close-btn{
    position: absolute;
    right: 30px;
    top: 10px;
}
nav input{
    display: none;
}
/*parte body homepage*/
body{
    background-color: #4d4d4d;
    width: 100%;
}
main{
    position:relative;
    top: 70px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}
main .ins-div{
    position: relative;
    top: 50px;
    display: block;
    width: 20%;
    padding: 20px;
    font-size: 1em;
    color: white;
    box-shadow: 0 0 5px 5px crimson;
    background-color: #242526;
}
main .intro-section{
    width: 60%;
}
.intro-section article{
    position: relative;
    top:100px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 15px;
    text-align: center;
}
.intro-section article video{
    margin: 5px;
    max-width: 500px;
}
.intro-section article p{
    font-size: var(--fontSizeP);
    margin: 5px;
    max-width: 400px; 
}
.active{
    border-bottom: 2px solid crimson;
    border-right: 2px solid crimson;
    border-top: 2px solid black;
    border-left: 2px solid black;
}
.about-section{
    position:relative;
    top:120px;
    padding-top: 50px;
    width: 60%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about-section h2{
    margin: 20px 0;
    font-size: 2em;
}
.about-section .card-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    min-height: 400px;
}
.about-section .card{
    width: 100%;
    background: #fff;
    margin: 3px;
    padding: 5px;
}
.about-section .card-container .card img {
    width: 100%;
    height: auto;
    align-self: center;
}
.about-section .card-container .card .content {
    max-height: 206px;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}
.about-section .card-container .card .content p {
    font-size: var(--fontSizeP);
    padding: .5rem;
    margin-bottom: 10px;
}
.course-section{
    position:relative;
    top: 170px;
    padding-top: 50px;
    width: 70%;
    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.course-section h2{
    margin: 20px 0;
    font-size: 2em;
}
.course-section .courses-card-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    margin: 15px;
}
.course-section .course-card{
    width: 30%;
    background: #fff;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.course-section .course-card img{
    width: 100%;
    height: auto;
}
.course-section .course-card .info{
    width: 100%;
    text-align: center;
    align-content: center;
}
.course-section .course-card .info p{
    background-color: #242526;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    height: 30px;
}
.course-section .course-card .info p a{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Architects Daughter', cursive;
}
.course-section .course-card .info p:hover{
    background-color: black;
    transform: translateY(-5px);
    transition: .3s;
}
footer{
    position: relative;
    top: 270px;
    padding: 20px;
    background-color: #242526;
    color: white;
    text-align: center;
}
.bolder{
    font-weight: bolder;
}
.colored{
    color: crimson;
}
/*courses pages*/
main.course-content{
    position: relative;
    top: 70px;
    width: 100%;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
main.course-content section{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding-bottom: 10px;
    font-family: 'Gemunu Libre', sans-serif;
}
main.course-content h1{
    font-family: 'Stick No Bills', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    margin-top: 10px;
}
main.course-content section img{
    width: 100%;
    margin: 20px;
}
main.course-content section p{
    width: 90%;
    margin: 10px;
    font-size: var(--fontSizeP);
}
main.course-content section ul{
    text-align: left;
    margin-bottom: 10px;
    width: 50%;
    margin: auto;
}
main.course-content section li{
    font-size: var(--fontSizeLi);
    font-weight: bolder;
}
footer.footer-course{
    position: relative;
    top: 70px;
    padding: 10px;
    width: 100%;
}

@media (max-width:1300px){
    main .intro-section{
        width: 80%;
    }
    main .about-section{
        width: 80%;
    }
    main .course-section{
        width: 80%;
    }
    main .ins-div{
        width: 30%;
    }
}
@media (max-width: 970px) {
    .nav-container .btn{
        display: block;
    }
    .nav-container .nav-links{
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #242526;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
        transition: all 0.3s ease;
    }
    #menu-btn:checked ~ .nav-links{
        left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
        display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
        display: block;
        position: relative;
        top: 5px;
    }
    .nav-links li{
        margin: 15px 10px;
    }
    .nav-links li a{
        padding: 0 20px;
        display: block;
        font-size: 1.5em;
    }
    .nav-links .drop-menu{
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }
    #showDrop:checked ~ .drop-menu{
        max-height: 100%;
    }
    .nav-links .desktop-item{
        display: none;
    }
    .nav-links .mobile-item{
        display: block;
        color: #f2f2f2;
        font-size: 1.5em;
        font-weight: 500;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }
    .nav-links .mobile-item:hover{
        background: crimson;
    }
    .drop-menu li{
        margin: 0;
    }
    .drop-menu li a{
        border-radius: 5px;
        font-size: 1.3em;
    }
    /*homepage body part*/
    
    main .intro-section{
        width: 70%;
    }
    main .intro-section article{
        flex-direction: column;
    }
    main .intro-section article video{
        max-width: 100%;
        order: 1;
    }
    main .intro-section article p{
        width: 100%;
        order: 2;
    }
    main .about-section{
        width: 50%;
    }
    main .about-section .card-container{
        flex-direction: column;
    }
    
    main .course-section{
        width: 50%;
    }
    main .course-section .courses-card-container{
        flex-direction: column;
        margin-bottom: 0;
    }
    main .course-section .courses-card-container .course-card{
        width: 90%;
        margin-bottom: 20px;
    }
    main .ins-div{
        width: 40%;
    }
    /*course pages*/
    main.course-content section{
        width: 70%;
    }
    main.course-content section ul{
        width: 70%;
    }

}
@media (max-width: 850px) {
    main .intro-section{
        width: 70%;
    }
    main .about-section{
        width: 70%;
    }
    main .course-section{
        width: 70%;
    }
    main .ins-div{
        width: 50%;
    }
    main.course-content section{
        width: 80%;
    }
    main.course-content section ul{
        width: 80%;
    }
}
@media (max-width: 500px){
    main .intro-section{
        width: 95%;
    }
    main .about-section{
        width: 95%;
    }
    main .course-section{
        width: 95%;
    }
    main .ins-div{
        width: 75%;
    }
    main.course-content section{
        width: 95%;
    }
    main.course-content section ul{
        width: 90%;
    }
}